

@media (max-width: 1024px){
	.row {
		display: inline;
	}
	.home-section{
	max-width: 100%;
	min-height: 20vh;
	}

	.home-section .backphoto{
		display: none;
	}
	.home-section .home-text,
	.home-section .home-image {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0;
		padding: 0px;
	}
	.home-section .home-text{
		order: 2;
	}
	.home-section .home-text{
		text-align: center;
		padding: 0px;
	}
	.home-section .full-screen{
		padding: 50px 0;
	}
	.home-section .home-image .image-box {
		left: 50%;
	}
	.home-section .home-image .image-box img{
		margin-bottom: 50px;
		max-width: 500px;
	}

	.about-section{
		max-width: 100%;
		min-height: 40vh;
	}

	.about-section .about-info,
	.about-section .about-pict{
		flex: 0 0 100%;
		position: relative;

	}
	.about-section .about-pict{
		order: 1;
		text-align: center;
		padding: 0;
		margin: 0;
		left : 30%;
		top: 0;
	}
	.about-section .about-info{
		text-align: center;
		padding-top: 0px;
		top: 0px;
		left : 20%
	}
	.about-section .about-info .section-title h2{
		margin-top: 0px;
		top: 0px;
	}
	.about-section .about-info p {
		left: 10px;
		font-size: 20px;
	}
	.about-section .minat{
		padding: 10px;
	}
	.about-section .minat ul{
		margin: 0px;
	}
	.about-section ul li{

	}
	.skill .container .row{
		max-width: 100%;
	}
	.skill .container .row .skill-item{
		margin: 19px;
		align-content: center;
		margin-left: 20px;
	}
	.skill .container .row{
		padding-right: 10px;
	}
	.portfolio-section{
		min-height: 20vh;
	}
	.portfolio-section .container .row{
		padding: 0;
		justify-content: center;
	}
	.portfolio-section .container .row .item-portfolio{
		max-width: 50%;
	}
	.contact-section .contact-item{
		align-items: center;
		max-width: 70%;
		margin-left: 15%;
		margin-bottom: 30px;
	}
	.contact-section .section-title{
		margin-bottom: 120px;
	}
	.home-section .backphoto-1{
		display: none;

	}
@media (max-width: 999px){
	.portfolio-section .container .row .item-portfolio{
		max-width: 40%;
	}
		.about-section .backphoto-1{
		display: none;

	}
}
}
@media (max-width: 1000px){
	.skill .container {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0;
		padding: 0px;
	}
	.portfolio-section .container .row{
		padding: 0;
		justify-content: center;
	}
	.portfolio-section .container .row .item-portfolio{
		max-width: 40%;
		margin: 20px;
	}
	.about-section .backphoto-1{
		display: none;

	}

}

@media (max-width: 768px){
	.home-section .backphoto{
		display: none;

	}
	.home-section{
	max-width: 100%;
	min-height: 20vh;
	}
	.home-section .home-text{

	}
	.home-section .home-text h1{
		font-size: 28px;
		margin-top: 100px;
	}
	.home-section .home-image .image-box img{
		margin-bottom: 50px;
		max-width: 500px;
	}
	.buttonmore{
		padding: 10px 2px;
	}
	.home-section .home-text p{
		font-size: 18px;
	}
	.header .logo a{
		display: none;
	}
	.effect-3{
		top: 8px;
		position: absolute;
		right: 0px;
	}
	.effect-2{
		right: 0px;
		bottom: 50px;
	}
	.effect-1{
		top: 50px;
		position: absolute;
	}
	.about-section{
		max-width: 100%;
		min-height: 90vh;
	}
	.about-section .about-pict .image-box{
		display: none;
	}
	.about-section .about-pict .social-links{
		margin-top: 60px;
	}
	.about-section .minat{
		padding: 0;
	}
	.effect-7{
		top: 1280px;
		z-index: -1;
	}
	.skill .container .row{
		justify-content: center;
	}
	.skill .container .row .skill-item{
		flex: 0 0 100%;
	}
	.skill .container .row .skill-item{
		max-width: 100%;
		margin-left: 0px;
	}
	.about-skill .timeline .timeline-item:nth-child(odd){
		padding-left: 60px;
		text-align: left;
		padding-right: 25px;

	}
	.about-skill .timeline .timeline-item:nth-child(even){
		padding-right: 25px;
		text-align: left;
		padding-left: 55px;
	}

	.about-skill .timeline:before{
		left: 35px;
	}

	.about-skill .timeline .timeline-item:nth-child(odd) .icon {
		left: -45px;
		right: auto;
	}
	.about-skill .timeline .timeline-item-inner{
		margin-bottom: 50px;
	}
	.about-skill .timeline .timeline-item-inner:last-child{
		margin-bottom: 0px;
	}
	.about-skill .timeline .timeline-item:nth-child(even) .icon {
		left: -44px;
	}
	.portfolio-section .container .row{
		padding: 0;
		justify-content: center;

	}
	.portfolio-section .container .row .item-portfolio{
		width: 40%;
	}
		.about-section .backphoto-1{
		display: none;

	}
}

@media (max-width: 415px){
	.home-section{
		min-height: 60vh;
	}
	.home-section .backphoto{
		display: none;
	}
	.header .logo a{
		display: none;
	}
	.home-section .home-image .image-box img{
		padding-bottom: 10px;
		max-width: 100%;

	}
	.effect-6{
		left: -90px;
	}
	.section-title{
		z-index: 99999;
		padding-left: 0;
	}
	.about-section .about-info .section-title h2{
		padding-left: 1px;
		
	
	}
	.effect-2{
		width: 70px;
	}
	.effect-3{
		top: 0px;
	}
	.about-section .about-info .section-title{
		font-size: 11px;
	}
	.about-section .minat{
		padding: 10px;
		left: -45px;
	}
	.about-section ul{
		width: 20px;
	}
	.about-section ul li{
		padding-bottom: 9px;
		padding-top: 9px;
		letter-spacing: 5px;
		height: -20px;
		font-size: 12px;
		margin: 5px;
	}
	.skill .container .row .skill-item{
		max-width: 100%;
		
	}
	.about-skill .timeline .timeline-item:nth-child(odd){
		padding-left: 10px;
		text-align: center;
		padding-right: 10px;

	}
	.about-skill .timeline .timeline-item:nth-child(even){
		padding-right: 10px;
		text-align: center;
		padding-left: 15px;
	}
	.about-skill .timeline:before{
		display: none;
	}
	.about-section .about-info p{
		font-size: 10px;
	}
	.portfolio-section .container .row{
		padding: 0;
		justify-content: center;
		margin: 0;
	}
	.about-skill .timeline .timeline-item .icon {
		display: none;
	}
	.portfolio-section .container .row .item-portfolio{
		width: 45%;
		margin: 10px;
		padding: 0;
	}
	.portfolio-section .container .row .item-portfolio .text-portfolio{
		padding: 10px;
	}
	.portfolio-section .container .row .item-portfolio .text-portfolio h3{
		font-size: 15px;
	}
	.portfolio-section .container .row .item-portfolio .text-portfolio p{
		font-size: 10px;
	}
	.portfolio-section .container .row .item-portfolio .image-portfolio img{
		padding: 0	;
	}
		.about-section .backphoto-1{
		display: none;

	}
/*	.home-section .full-screen{
		padding: 0;
		margin: 0;
	}
	.home-section .home-image .image-box{
		padding: 0px;
		top: 50px;
		margin: 0;
	}
	.home-section .home-text h1{
		font-size: 16px;
		padding: 0;
		margin: 0;
		top: 20px;
	}
*/
	
}

@media (max-width: 360px){

	.home-section .backphoto{
		display: none;
	}
	.header .logo a{
		display: none;
	}
	.home-section .home-image .image-box img{
		padding-bottom: 10px;
		max-width: 100%;

	}
	.portfolio-section{
		width: 100%;
		min-height: 80vh;
	}
	.portfolio-section .container .row{
		padding: 0;
		justify-content: center;
		margin: 0;

	}
	.portfolio-section .container .row .item-portfolio{
		width: 39%;
		margin: 10px;
		padding: 0;
	}
	.portfolio-section .container .row .item-portfolio .text-portfolio{
		padding: 10px;
	}
	.portfolio-section .container .row .item-portfolio .text-portfolio h3{
		font-size: 14px;
	}
	.portfolio-section .container .row .item-portfolio .text-portfolio p{
		font-size: 10px;
	}
	.portfolio-section .container .row .item-portfolio .image-portfolio img{
		padding: 0	;
	}
	.contact-section .contact-item{
		align-items: center;
		max-width: 100%;
		margin-bottom: 30px;
	}
	.contact-section .section-title{
		margin-bottom: 120px;
	}
		.about-section .backphoto-1{
		display: none;

	}
}