@media (max-width: 1024px){
	.home-section{
	max-width: 100%;
	}
	.home-section .full-screen{
		min-height: 80vh;
	}
	.home-section .backphoto{
		display: none;
	}
	.effect-1{
		bottom: 160px;
	}
	.home-section .home-image {
		margin: 0;
		padding: 0px;
	}
	.home-section .home-text, .home-section .home-image{
		padding: 0px;
		text-align: center;
		top: 50px;
	}
	.home-section .home-image .image-box img{
		pos
	}
	.about-section{
		max-width: 100%;
		min-height: 20px;
	}
	.about-section .about-info{
		text-align: center;
		position: relative;
		margin: 0px;
		justify-content: center;
		top:299px;
		left: 23%;
		max-width: 100%;
		padding: 0px;
		width: 50px;
	}
	.about-section .about-info p{
		font-size: 30px;
		padding: 0;
	}

	.about-section .about-pict{
		margin: 0;
		padding: 0;
		position: relative;
		top: -10px;
		right: 26%;
		position: absolute;
		width: 999px;
	}
	.about-section .minat{
		max-width: 100%;
		width: 30%;
		text-align: center;
		right: 60%;
	}

	.skill .container .row{
		max-width: 100%;

	}
	.skill .container .row .skill-item{
		flex: 0 0 100%;
	}
	.portfolio-section .container .row{
		padding: 10px;
		max-width: 100%;
		justify-content: center;
	}
	.portfolio-section .container .row .item-portfolio{
		align-content: center;
	}
}

@media (max-width: 768px){
	.home-section .backphoto{
		display: none;
	}
	.about-section{
		max-width: 100%;
	}
	.about-section .about-info{
		text-align: center;
		position: relative;
		justify-content: center;
		top: 180px;
		left: 23%;
		padding: 0;
		max-width: 100%;
	}
		.about-section .minat{
		max-width: 100%;
		width: 30%;
		text-align: center;
		right: 60%;
		padding: 0px;
		margin-left: 40px;
	}
	.about-section ul li{
		margin: 18px;
	}
	.about-section .about-pict{
		margin: 0;
		padding: 20px;
		position: relative;
		right: 26%;
		top: -10px;
		position: absolute;
		/*display: none;*/

	}
	.custom-shape-divider-top-1633807203 svg{
		padding-bottom: 2px;
		margin: 0;
	}
	.about-section .about-pict img{
		width: 1000px;
	}
	.about-skill .timeline .timeline-item{
		margin-bottom: 40px;
	}
	.about-skill .timeline .timeline-item:nth-child(odd){
		padding-left: 70px;
		text-align: left;
		padding-right:15px;

	}
	.about-skill .timeline .timeline-item:nth-child(even){
		padding-left: 75px;
		text-align: left;
		padding-right:15px;
	}
	.about-skill .timeline .timeline-item:nth-child(odd) .icon{
		right: auto;
		left: -47px;

	}
		.about-skill .timeline .timeline-item:nth-child(even) .icon{
		left: -50px;
	}
	.about-skill .timeline:before{
		left: 45px;
	}

}

@media (max-width: 500px){
	.home-section .backphoto{
		display: none;
	}

}