@media (max-width: 1024px){
	.row {
		display: inline;
	}
	.home-section{
	max-width: 100%;
	min-height: 20vh;
	}

	.home-section .backphoto{
		display: none;
	}
	.home-section .home-text,
	.home-section .home-image {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0;
		padding: 0px;
	}
	.home-section .home-text{
		order: 2;
	}
	.home-section .home-text{
		text-align: center;
		padding: 0px;
	}
	.home-section .full-screen{
		padding: 50px 0;
	}
	.home-section .home-image .image-box img{
		margin-bottom: 40px;
		max-width: 500px;
	}

	.about-section{
		max-width: 100%;
		min-height: 80vh;
	}
	.about-section .about-info{
		text-align: center;
		position: relative;
		justify-content: center;
		top:299px;
		left: 23%;
		max-width: 100%;
		padding: 0;
	}
	.about-section .about-pict,
	.about-section .about-info{
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0;
		padding: 0px;
	}

	.about-section .minat{
		max-width: 100%;
		width: 30%;
		text-align: center;
		right: 60%;
	}

	.skill .container .row{
		max-width: 100%;

	}
	.skill .container .row .skill-item{
		flex: 0 0 100%;
	}
	.portfolio-section .container .row{
		padding: 10px;
		max-width: 100%;
		justify-content: center;
	}
	.portfolio-section .container .row .item-portfolio{
		align-content: center;
	}


}

@media (max-width: 768px){
	.home-section .backphoto{
		display: none;

	}
	.home-section{
	max-width: 100%;
	min-height: 20vh;
	}
	.home-section .home-text{

	}
	.home-section .home-text h1{
		font-size: 28px;
		margin-top: 100px;
	}
	.buttonmore{
		padding: 10px 2px;
	}
	.home-section .home-text p{
		font-size: 18px;
	}
	.header .logo a{
		display: none;
	}
	.effect-3{
		top: 8px;
		position: absolute;
		right: -8px;
	}
	.effect-2{
		right: -20px;
		bottom: 50px;
	}
	.effect-1{
		top: 50px;
		position: absolute;
	}
}

@media (max-width: 414px){
	.home-section .backphoto{
		display: none;
	}
	.header .logo a{
		display: none;
	}
	/*.home-section .full-screen{
		padding: 0;
		margin: 0;
	}
	.home-section .home-image .image-box{
		padding: 0px;
		top: 50px;
		margin: 0;
	}
	.home-section .home-text h1{
		font-size: 16px;
		padding: 0;
		margin: 0;
		top: 20px;
	}

	
}